<div class="w-full flex-1 flex flex-col">
  <!-- Breadcrumb -->
  <div class="p-4">
    <app-button (click)="goBack()" variant="link" prefixIcon="chevron-left">
      {{ 'CREATE_SOFTWARE._back' | translate }}
    </app-button>
  </div>
  <!-- End Breadcrumb -->

  <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white mb-6">{{ 'UPDATE_SOFTWARE._edit' | translate }}</h1>

  @if (notFound) {
  <app-not-found-state message="This software resource could not be found." (back)="goBack()" />
  } @else {
  <app-stepper [allUnlocked]="true" [canAdvance]="canAdvance" submitLabel="UPDATE_SOFTWARE._update"
    [submitDisabled]="!generalForm.valid || loading" (stepChanged)="onStepChanged($event)"
    (submitted)="updateSoftware()" [submitAlwaysVisible]="true">

    <ng-template stepperStep="General Info" stepId="general">
      <app-dynamic-form class="block m-4" [fields]="generalFormFields" [formGroup]="generalForm" />
    </ng-template>

    <ng-template stepperStep="Software Specification" stepId="software">
      <app-dynamic-form class="block m-4" [fields]="softwareSpecFields" [formGroup]="softwareSpecForm" />
    </ng-template>

    <ng-template stepperStep="Characteristics" stepId="characteristics">
      <app-software-characteristics [readonly]="false" class="block m-4"
        [(characteristics)]="resourceCharacteristics" />
    </ng-template>

  </app-stepper>
  }
</div>
