<h1 class="text-3xl font-extrabold text-gray-900 dark:text-white mb-6">
  {{ 'CREATE_OFFER._create' | translate }}
</h1>

@if(notFound){
    <app-not-found-state message="This offer could not be found." (back)="goBack()" />
} @else if(loadingData){
    <app-loading-spinner />
} @else {
  <form [formGroup]="productOfferForm">
      <app-stepper [canAdvance]="canAdvance" [loading]="loading" submitLabel="CREATE_OFFER._create"
        [submitDisabled]="loading" (stepChanged)="onStepChanged($event)" (submitted)="createOffer()">

        <ng-template stepperStep="Party Info">
          <app-related-party-id formControlName="partyInfo" [partyId]="partyId"></app-related-party-id>
        </ng-template>

        <ng-template stepperStep="Price Plans">
          <app-price-plans-form
            [form]="productOfferForm"
            [prodSpec]="productOfferForm.get('prodSpec')?.value"
            [custom]="true">
          </app-price-plans-form>
        </ng-template>

        <ng-template stepperStep="Procurement Mode">
          <app-procurement-mode [data]="offer"
            [form]="productOfferForm.controls['procurementMode']">
          </app-procurement-mode>
        </ng-template>

      </app-stepper>
    </form>
  }
