@if(loadingCatalog){
<app-loading-spinner containerClass="w-full h-fit flex justify-center align-middle" />
} @else {
@if(catalogs.length==0){
<div class="flex justify-center w-full m-4">
  <div
    class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-blue-50 dark:bg-secondary-200 dark:text-primary-50"
    role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <div>
      {{ 'OFFERINGS._no_cat' | translate }}
    </div>
  </div>
</div>
}@else{
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
      <tr>
        <th scope="col" class="px-4 py-3 w-12">
          <!-- Columna del Checkbox -->
        </th>
        <th scope="col" class="px-6 py-3">
          {{ 'OFFERINGS._name' | translate }}
        </th>
        <th scope="col" class="hidden md:table-cell px-6 py-3">
          {{ 'OFFERINGS._status' | translate }}
        </th>
        <th scope="col" class="hidden md:table-cell px-6 py-3">
          {{ 'OFFERINGS._role' | translate }}
        </th>
      </tr>
    </thead>
    <tbody data-cy="catalogList">
      @for (cat of catalogs; track cat) {
      <tr class="border-b hover:bg-gray-200 dark:border-gray-700 dark:hover:bg-secondary-200"
        (click)="toggleSelection(cat)"
        [ngClass]="cat.id == selectedCatalog.id ? 'bg-gray-300 dark:bg-secondary-200' : 'bg-white dark:bg-secondary-300'">

        <!-- Checkbox -->
        <td class="px-4 py-3 w-12">
          <input type="radio" name="catSelection"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
            [checked]="isSelected(cat.id)" (click)="$event.stopPropagation(); toggleSelection(cat)">
        </td>

        <td data-cy="offerCatalogName" [ngClass]="{
                            'break-all': hasLongWord(cat.name, 20),
                            'break-words': !hasLongWord(cat.name, 20)
                            }" class="px-6 py-4 text-wrap break-words">
          {{cat.name}}
        </td>
        <td class="hidden md:table-cell px-6 py-4">
          @if(cat.lifecycleStatus == 'Active'){
          <span
            class="bg-blue-100 dark:bg-secondary-300 text-blue-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{cat.lifecycleStatus}}</span>
          } @else if(cat.lifecycleStatus == 'Launched') {
          <span
            class="bg-blue-100 dark:bg-secondary-300 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-green-500">{{cat.lifecycleStatus}}</span>
          } @else if(cat.lifecycleStatus == 'suspended') {
          <span
            class="bg-blue-100 dark:bg-secondary-300 text-yellow-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-500">{{cat.lifecycleStatus}}</span>
          } @else if(cat.lifecycleStatus == 'terminated') {
          <span
            class="bg-blue-100 dark:bg-secondary-300 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-500">{{cat.lifecycleStatus}}</span>
          }
        </td>
        <td class="hidden md:table-cell px-6 py-4">
          {{cat.relatedParty?.at(0)?.role}}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
@if (!loadingCatalog_more) {
@if (catalogPageCheck) {
<div class="flex pt-6 pb-2 justify-center align-middle">
  <button data-cy="loadMore" (click)="nextCatalog()"
    class="flex cursor-pointer shadow-lg items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 dark:text-white bg-white dark:bg-primary-100 dark:hover:bg-secondary-100 border border-gray-300 dark:border-secondary-200 rounded-lg hover:bg-gray-200">
    {{ 'CREATE_PROD_SPEC._load_more' | translate }}
    <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
    </svg>
  </button>
</div>
}
} @else {
<app-loading-spinner containerClass="w-full h-full flex justify-center align-middle mt-2" role="status"
  data-cy="loadMoreLoading" />
}
}
