<div class="w-full flex-1 flex flex-col">
  <!-- Breadcrumb -->
  <div class="p-4">
    <app-button (click)="goBack()" variant="link" prefixIcon="chevron-left">
      {{ 'CREATE_OFFER._back' | translate }}
    </app-button>
  </div>
  <!-- End Breadcrumb -->

  <app-offer-form [partyId]="partyId" [formType]="'create'"
    (previewRequested)="onPreviewRequested($event)"></app-offer-form>

  <app-offer-preview-modal [previewProductOff]="previewProductOff" (closed)="previewProductOff = null" />

  @if(showError){
  <error-message
    class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    [message]="errorMessage"></error-message>
  }
