@if(loading){
<app-loading-spinner containerClass="w-full h-full flex justify-center align-middle mt-4" />
} @else {
<div class="m-4">
  <app-dynamic-form [fields]="billingFields" [formGroup]="billingForm" [columns]="2" />

  @if (showActions) {
  <div class="flex w-full justify-end mt-4">
    @if(is_create){
    <app-button data-cy="addBilling" type="button" (click)="createBilling()" [disabled]="billingForm.invalid">
      {{ 'BILLING._add' | translate }}
    </app-button>
    } @else {
    <app-button (click)="updateBilling()" [disabled]="billingForm.invalid">
      {{ 'BILLING._update' | translate }}
    </app-button>
    }
  </div>
  }
</div>
}
@if(showError){
<error-message
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
  [message]="errorMessage"></error-message>
}
