@if (loading) {
<app-loading-spinner containerClass="w-3/4 md:w-4/5 h-full flex justify-center align-middle" />
} @else {
<app-card>
  <div appCardBody>
    <div>
      <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._account' |
        translate }}</h2>
    </div>
    <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
    <app-dynamic-form class="block m-4" [fields]="accountFields" [formGroup]="accountForm" [columns]="2" />
    <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._personal_info'
      |
      translate }}</h2>
    <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
    <app-dynamic-form class="block m-4" [fields]="profileFields" [formGroup]="userProfileForm" [columns]="6" />
    <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._birthdate' |
      translate }}</h2>
    <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
    <app-dynamic-form class="block m-4" [fields]="birthdateFields" [formGroup]="userProfileForm" [columns]="2" />
  </div>
  <div appCardFooter>
    <app-button type="button" [disabled]="!userProfileForm.valid" (click)="updateProfile()">
      {{ 'PROFILE._update' | translate }}
    </app-button>
  </div>
</app-card>
}
@if(showError){
<error-message
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
  [message]="errorMessage"></error-message>
}
@if (successVisibility) {
<div
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
  <div id="alert-additional-content-2" class="p-4 mb-4 text-white rounded-lg bg-primary-100" role="alert">
    <div class="flex items-center">
      <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <h3 class="text-lg font-medium">Update success</h3>
    </div>
    <div class="mt-2 mb-4 text-sm pr-8 pl-8">
      {{ 'PROFILE._success' | translate }}.
    </div>
  </div>
</div>
}
