<app-card>
  <div appCardHeader>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{ 'ADMIN._defaultCatalog' | translate }}</h2>
    @if(defaultCatalogId){
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
      {{ 'ADMIN._defaultCatalogId' | translate }}: <span class="font-semibold">{{ defaultCatalogId }}</span>
    </p>
    } @else {
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'ADMIN._noDefaultCatalogConfigured' | translate }}</p>
    }
  </div>

  @if(loadingDefaultCatalog){
  <div appCardContent>
    <app-loading-spinner containerClass="w-full h-full flex justify-center align-middle py-6" />
  </div>
  } @else {
  <div appCardContent>
    <app-dynamic-form class="block" [fields]="defaultCatalogFormFields" [formGroup]="defaultCatalogForm" />
  </div>
  }

  @if(!loadingDefaultCatalog){
  <div appCardFooter>
    <app-button data-cy="adminSaveDefaultCatalog" type="button" (click)="saveDefaultCatalog()" [disabled]="defaultCatalogForm.invalid || loading" suffixIcon="arrow-right">
      {{ 'ADMIN._saveDefaultCatalog' | translate }}
    </app-button>
  </div>
  }
</app-card>
