<div class="flex flex-col gap-6">
  @if (filters.length > 0) {
  <app-filter-bar [filters]="filters" [columns]="filterColumns" [debounceMs]="debounceMs"
    (filtersChange)="onFiltersChange($event)">
  </app-filter-bar>
  }

  <app-paginated-table [columns]="columns" [fetchPage]="innerFetchPage" [pageSizeOptions]="pageSizeOptions"
    [pageSizeSelected]="pageSizeSelected" [selectable]="selectable" [clickable]="clickable" [multiple]="multiple"
    [readonly]="readonly" [selected]="selected" [defaultSort]="defaultSort" (selectedChange)="onSelectedChange($event)"
    (rowClick)="rowClick.emit($event)">
  </app-paginated-table>
</div>
