<app-card>
  <div appCardHeader class="flex w-full flex-cols items-center justify-between">
    <div>
      <h2 class="text-2xl font-bold dark:text-white">{{ 'OFFERINGS._prod_offer' | translate }}</h2>
      <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">{{ 'OFFERINGS._manage_offers_subtitle' | translate }}</p>
    </div>

    <app-button dataCy="newOffering" (click)="goToCreate()" prefixIcon="plus">
      {{ 'OFFERINGS._add_new_offer' | translate }}
    </app-button>
  </div>
  <app-filtered-paginated-table data-cy="offers" [columns]="offerColumns" [fetchPage]="fetchOffers"
    [filters]="offerFilters" [filterColumns]="1" [clickable]="true" (rowClick)="goToUpdate($event.id)"
    [defaultSort]="defaultSort">
  </app-filtered-paginated-table>
</app-card>
