<div
  class="bg-secondary-50 dark:bg-secondary-100 dark:border-gray-800 border-secondary-50 border mt-8 px-8 py-12 rounded-lg shadow-lg">
  <div class="mb-24 flex w-full flex-cols items-center justify-between">
    <div>
      <h2 class="text-2xl font-bold dark:text-white">{{ 'OFFERINGS._prod_offer' | translate }}</h2>
      <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">{{ 'OFFERINGS._manage_offers_subtitle' | translate }}</p>
    </div>

    <app-button dataCy="newOffering" (click)="goToCreate()" icon="plus">
      {{ 'OFFERINGS._add_new_offer' | translate }}
    </app-button>
  </div>
  <app-filtered-paginated-table data-cy="offers" [columns]="offerColumns" [fetchPage]="fetchOffers"
    [filters]="offerFilters" [filterColumns]="1" [clickable]="true" (rowClick)="goToUpdate($event.id)"
    [defaultSort]="defaultSort">
  </app-filtered-paginated-table>
</div>
