<div class="w-full flex-1 flex flex-col">
  <!-- Breadcrumb -->
  <div class="p-4">
    <app-button (click)="goBack()" variant="link" prefixIcon="chevron-left">
      {{ 'CREATE_CATALOG._back' | translate }}
    </app-button>
  </div>
  <!-- End Breadcrumb -->

  <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white mb-6">{{ 'CREATE_CATALOG._new' | translate }}</h1>

  <app-stepper [canAdvance]="canAdvance" submitLabel="CREATE_CATALOG._create"
    [submitDisabled]="!generalForm.valid || loading" (stepChanged)="onStepChanged($event)"
    (submitted)="onSubmitCatalog()">

    <ng-template stepperStep="General Info">
      <div class="flex flex-col gap-5">
        <div>
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{ 'CREATE_CATALOG._general' | translate }}</h2>
          <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">{{ 'CREATE_CATALOG._general_desc' | translate }}</p>
        </div>
        <app-dynamic-form class="block" [fields]="generalFormFields" [formGroup]="generalForm" />
      </div>
    </ng-template>

  </app-stepper>
</div>

<app-confirm-modal [visible]="showPublishDraftModal" [title]="'PUBLISH_DRAFT_MODAL._title'"
  message="PUBLISH_DRAFT_MODAL._message" cancelLabel="PUBLISH_DRAFT_MODAL._save_draft"
  confirmLabel="PUBLISH_DRAFT_MODAL._publish" confirmVariant="primary"
  (resolved)="$event ? publish() : saveDraft()" (closed)="showPublishDraftModal = false" />
