<div class="flex flex-col gap-4">

  @if (characteristics.length === 0) {
  <div class="flex justify-center w-full">
    <div
      class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-blue-50 dark:bg-secondary-200 dark:text-primary-50"
      role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <div>{{ 'CREATE_SOFTWARE._no_chars' | translate }}</div>
    </div>
  </div>
  } @else {
  <app-table-input [columns]="characteristicColumns" [items]="characteristics" [selectable]="false"
    [clickable]="true" [readonly]="readonly" (rowClick)="onRowClick($event)" />
  }

  @if (!readonly) {

  @if (!showAddForm) {
  <div class="flex w-full justify-center">
    <app-button type="button" (click)="showAddForm = true" suffixIcon="plus">
      {{ 'CREATE_SOFTWARE._new_char' | translate }}
    </app-button>
  </div>
  } @else {

  <div
    class="border border-gray-200 dark:border-gray-700 rounded-lg p-4 bg-gray-50 dark:bg-secondary-200 flex flex-col gap-4">
    <h4 class="text-base font-bold dark:text-white">{{ 'CREATE_SOFTWARE._new_char' | translate }}</h4>

    <app-dynamic-form [fields]="headerFields" [formGroup]="charForm" [columns]="2" />

    @if (charType !== 'deployment') {
    <app-dynamic-form [fields]="valueFields" [formGroup]="charForm" />
    } @else {
    <app-package-deployment [initialValue]="editingDeploymentValue" (formReady)="onDeploymentFormReady($event)" />
    }

    @if(!readonly) {
    <div class="flex gap-3 justify-end pt-2 border-t border-gray-200 dark:border-gray-700">
      <app-button type="button" (click)="resetForm()" variant="ghost">
        {{ 'CANCEL' | translate }}
      </app-button>
      <app-button type="button" (click)="saveChar()" [disabled]="!canSave">
        {{ 'CREATE_SOFTWARE._save_char' | translate }}
      </app-button>
    </div>
    }
  </div>
  }
  }
</div>
