<app-card>
  <div appCardHeader class="flex w-full flex-cols items-center md:flex-row justify-between">
    <div>
      <h2 class="text-2xl font-bold dark:text-white">{{ 'CATEGORIES._categories' | translate }}</h2>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'CATEGORIES._categories_subtitle' | translate }}</p>
    </div>

    <app-button dataCy="adminAddNewCategory" (click)="createCategory()" prefixIcon="plus">
      {{ 'CATEGORIES._add_new_cat' | translate }}
    </app-button>
  </div>

  @if(loading){
  <app-loading-spinner />
  } @else {
  <app-table-input data-cy="adminCategoriesTable" [columns]="categoryColumns" [items]="flatCategories"
    [selectable]="false" [clickable]="true" (rowClick)="goToUpdate($event.id)"
    [emptyMessage]="'CATEGORIES._no_cat'" />
  }
</app-card>
