<app-card>
  <div appCardHeader>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{ 'ADMIN._verification' | translate }}</h2>
  </div>
  <div appCardContent>
    <app-dynamic-form class="block" [fields]="verificationFormFields" [formGroup]="verificationForm" />
  </div>
  <div appCardFooter>
    <app-button data-cy="adminAddCredential" type="button" (click)="verifyCredential();" suffixIcon="arrow-right">
      {{ 'ADMIN._add' | translate }}
    </app-button>
  </div>
</app-card>

@if(showError){
<error-message
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
  [message]="errorMessage"></error-message>
}
