<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">

    <!--Only first 8 categories-->
    @for(cat of categories.slice(0, 8); track cat.id){
    <div
      class="flex flex-col w-full h-full bg-secondary-50 dark:bg-secondary-100 rounded-lg dark:border-secondary-100 border-secondary-50 border">

      <div class="featured-background flex-1 h-full bg-cover bg-right-bottom bg-opacity-25 rounded-lg"
        [style.background-image]="'url(' + cardDefaultBgUrl + ')'">
        <div data-cy="categoryItem"
          class="flex-1 h-full px-5 py-5 bg-secondary-50/95 dark:bg-secondary-100/95 rounded-lg">
          <a class="cursor-pointer">
            <h5
              class="text-xl font-semibold line-clamp-2 tracking-tight text-primary-100 dark:text-white text-wrap break-words">
              {{cat.name}}</h5>
          </a>
          <markdown class="min-h-19 h-19 line-clamp-4 text-gray-600 dark:text-gray-400">
            {{cat?.description}}
          </markdown>

          <div class="flex sticky top-[100vh] items-center justify-center align-items-bottom rounded-lg mt-4">

            <app-button data-cy="viewService" type="button" (click)="searchByCategory(cat)" prefixIcon="eye" class="mr-1">
              {{ 'DASHBOARD._view_serv' | translate }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
