<div class="flex flex-col gap-4">

  <app-dynamic-form [fields]="headerFields" [formGroup]="headerForm" [columns]="2" />

  @if (savedValues.length > 0 && !isSingleValueType) {
  <app-table-input [columns]="columns" [items]="savedValues" [selectable]="!readonly" [multiple]="false"
    [readonly]="readonly" [ngModel]="defaultValue" (ngModelChange)="onDefaultChange($event)" />
  }

  @if (isSingleValueType) {
  <div class="flex flex-col gap-3">
    <app-characteristic-value-spec-form [valueType]="valueType" [form]="valueForm" [readonly]="readonly" />
  </div>
  } @else if (!readonly && valueType !== 'boolean') {
  <div class="flex flex-col gap-3">
    <app-characteristic-value-spec-form [valueType]="valueType" [form]="valueForm" />
    <div class="flex justify-end">
      <app-button type="button"
        [attr.data-cy]="valueType === 'string' ? 'btnAddStringValue' : valueType === 'number' ? 'btnAddNumberValue' : valueType === 'range' ? 'btnAddRangeValue' : 'btnAddValue'"
        (click)="addValue()" [disabled]="!canAdd" size="sm" icon="plus" iconPosition="suffix">
        {{ 'CHAR_SPEC._add_value' | translate }}
      </app-button>
    </div>
  </div>
  }

</div>
