<div>
  <div
    class="w-full h-fit mb-4 bg-secondary-50 rounded-lg  dark:bg-secondary-100 dark:border-gray-800 border-gray-300 border-secondary-50 border flex flex-col shadow-lg">
    <div class="flex w-full flex-cols items-center md:flex-row justify-between">
      <div class="mb-4 md:mb-0 md:w-1/4 p-8">
        <h2 class="text-2xl font-bold mb-4 dark:text-white">{{ 'USAGE_SPECS._list' | translate }}</h2>
      </div>

      <div class="flex flex-row w-full justify-end">
        <app-button data-cy="createUsageSpec" type="button" (click)="goToCreate()" suffixIcon="plus" class="ml-2 mr-8 mb-4">
          {{ 'USAGE_SPECS._add_new' | translate }}
        </app-button>
      </div>

    </div>

  </div>

  @if(loading){
  <app-loading-spinner />
  } @else {
  <div class="bg-secondary-50 dark:bg-secondary-100 border dark:border-gray-800 mt-8 p-4 rounded-lg">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white dark:bg-secondary-300">
      <table data-cy="usageSpecTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
          <tr>
            <th scope="col" class="px-6 py-3">
              {{ 'USAGE_SPECS._name' | translate }}
            </th>
            <th scope="col" class="px-6 py-3">
              {{ 'USAGE_SPECS._description' | translate }}
            </th>
            <th scope="col" class="px-6 py-3">
              {{ 'USAGE_SPECS._actions' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          @for (usage of usageSpecs; track usage.id) {
          <tr data-cy="usageSpecRow"
            class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
            <td [ngClass]="{
                            'break-all': hasLongWord(usage.name, 20),
                            'break-words': !hasLongWord(usage.name, 20)
                            }" class="px-6 py-4 text-wrap break-words">
              {{usage.name}}
            </td>
            <td class="hidden md:table-cell px-6 py-4">
              {{usage.description}}
            </td>
            <td class="px-6 py-4">
              <app-button data-cy="usageSpecEdit" type="button" (click)="goToUpdate(usage.id)" shape="pill" prefixIcon="pen-to-square" class="me-2">
                <span class="sr-only">Edit usage spec</span>
              </app-button>
            </td>
          </tr>
          } @empty {
          <div class="flex justify-center w-full m-4">
            <div
              class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-blue-50 dark:bg-secondary-200 dark:text-primary-50"
              role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <div>
                {{ 'USAGE_SPECS._no_usage' | translate }}
              </div>
            </div>
          </div>
          }
        </tbody>
      </table>
    </div>
    @if (!loading_more) {
    @if (page_check) {
    <div class="flex pt-6 pb-2 justify-center align-middle">
      <app-button (click)="next()" variant="secondary" suffixIcon="arrow-down" size="sm" class="shadow-lg">
        {{ 'USAGE_SPECS._load_more' | translate }}
      </app-button>
    </div>
    }
    } @else {
    <app-loading-spinner containerClass="w-full h-full flex justify-center align-middle mt-2" />
    }
  </div>
  }
</div>
