
<div>
    <div class="w-full h-fit mb-4 bg-secondary-50 rounded-lg  dark:bg-secondary-100 dark:border-gray-800 border-gray-300 border-secondary-50 border flex flex-col shadow-lg">
      <div class="flex w-full flex-cols items-center md:flex-row justify-between">
        <div class="mb-4 md:mb-0 md:w-1/4 p-8">
            <h2 class="text-2xl font-bold mb-4 dark:text-white">{{ 'USAGE_SPECS._list' | translate }}</h2>  
        </div>

        <div class="flex flex-row w-full justify-end">
            <button data-cy="createUsageSpec" type="button" (click)="goToCreate()" class="ml-2 mr-8 mb-4 text-white bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center align-middle me-2">
                <p class="pl-2 pr-2">{{ 'USAGE_SPECS._add_new' | translate }}</p>
                <svg class="w-[18px] h-[18px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg>
            </button>
        </div>

      </div>

  </div>

@if(loading){
    <app-loading-spinner />
} @else {
    <div class="bg-secondary-50 dark:bg-secondary-100 border dark:border-gray-800 mt-8 p-4 rounded-lg">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white dark:bg-secondary-300">
        <table data-cy="usageSpecTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {{ 'USAGE_SPECS._name' | translate }}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {{ 'USAGE_SPECS._description' | translate }}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {{ 'USAGE_SPECS._actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (usage of usageSpecs; track usage.id) {
                    <tr data-cy="usageSpecRow" class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                        <td [ngClass]="{
                            'break-all': hasLongWord(usage.name, 20),
                            'break-words': !hasLongWord(usage.name, 20)
                            }" class="px-6 py-4 text-wrap break-words">
                            {{usage.name}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4">
                            {{usage.description}}
                        </td>
                        <td class="px-6 py-4">
                            <button data-cy="usageSpecEdit" type="button" (click)="goToUpdate(usage)" class="text-white bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
                                <svg class="w-[18px] h-[18px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                } @empty {
                    <div class="flex justify-center w-full m-4">
                        <div class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-blue-50 dark:bg-secondary-200 dark:text-primary-50" role="alert">
                          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <div>
                              {{ 'USAGE_SPECS._no_usage' | translate }}
                          </div>
                        </div>
                    </div>                          
                }
            </tbody>
        </table>
    </div>
    @if (!loading_more) {
        @if (page_check) {
        <div class="flex pt-6 pb-2 justify-center align-middle">
            <button (click)="next()" class="flex cursor-pointer shadow-lg items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 dark:text-white bg-white dark:bg-primary-100 dark:hover:bg-secondary-100 border border-gray-300 dark:border-secondary-200 rounded-lg hover:bg-gray-200">
            {{ 'USAGE_SPECS._load_more' | translate }}
            <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
            </button>
        </div>
        }
    } @else {
        <app-loading-spinner containerClass="w-full h-full flex justify-center align-middle mt-2" />
    }
  </div>
}
</div>