<div
  class="bg-secondary-50 dark:bg-secondary-100 dark:border-gray-800 border-secondary-50 border mt-8 px-8 py-12 rounded-lg shadow-lg">
  <div class="mb-24 flex w-full flex-cols items-center md:flex-row justify-between">
    <div>
      <h2 class="text-2xl font-bold dark:text-white">{{ 'OFFERINGS._res_spec' | translate }}</h2>
      <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">{{ 'OFFERINGS._manage_offerings_subtitle' | translate }}</p>
    </div>

    <app-button dataCy="createResSpec" (click)="goToCreate()" prefixIcon="plus">
      {{ 'OFFERINGS._add_new_res' | translate }}
    </app-button>
  </div>
  <app-filtered-paginated-table data-cy="resSpecTable" [columns]="resSpecColumns" [fetchPage]="fetchResSpecs"
    [filters]="resSpecFilters" [filterColumns]="1" [clickable]="true" (rowClick)="goToUpdate($event.id)"
    [defaultSort]="defaultSort">
  </app-filtered-paginated-table>
</div>
