<div class="w-full flex-1 flex flex-col">
  <!-- Breadcrumb -->
  <div class="p-4">
    <app-button (click)="goBack()" variant="link" prefixIcon="chevron-left">
      {{ 'CREATE_SOFTWARE._back' | translate }}
    </app-button>
  </div>
  <!-- End Breadcrumb -->

  <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white mb-6">{{ 'CREATE_SOFTWARE._new' | translate }}</h1>

  <app-stepper [canAdvance]="canAdvance" submitLabel="CREATE_SOFTWARE._create"
    [submitDisabled]="!generalForm.valid || loading" (stepChanged)="onStepChanged($event)"
    (submitted)="createSoftware()">

    <ng-template stepperStep="General Info" stepId="general">
      <app-dynamic-form class="block m-4" [fields]="generalFormFields" [formGroup]="generalForm" />
    </ng-template>

    <ng-template stepperStep="Software Specification" stepId="software">
      <div class="block m-4">
        <app-paginated-table data-cy="softwareSpecTable" [columns]="softwareSpecColumns"
          [fetchPage]="fetchSoftwareSpecs" [multiple]="false" [selectable]="true"
          [selected]="softwareSpecForm.get('softwareSpec')?.value" (selectedChange)="onSoftwareSpecChange($event)"
          [defaultSort]="defaultSort">
        </app-paginated-table>
      </div>
    </ng-template>

    <ng-template stepperStep="Characteristics" stepId="characteristics">
      <app-software-characteristics class="block m-4" [(characteristics)]="resourceCharacteristics" />
    </ng-template>

  </app-stepper>
</div>

@if (showError) {
<error-message
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
  [message]="errorMessage"></error-message>
}
